.chatContent_a7d72e{
    background-color: #0e0808;
}

.userPanelOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark.container_ecc60d{
  width:0px; 
}

.channel_c91bad.container_d91ad9{
    width:100%;
    margin-left:0px;
}

.avatar_ec8679{
    width:100%;
}

.content_ec8679{
    visibility:hidden;
}

.sidebar_a4d4d9{
    width:45px;
}

.wrapper_fea3ef.guilds_a4d4d9{
    width:35px;
}

.svg_c5f96a{
    width:30px;
    margin-left:8px;
}

.listItem_c96c45{
    padding:0px;
    width:100%;
}

.container_b2ca13{
    width:50%;
}

.avatarWrapper_b2ca13{
    width:50%;
}

span{font-size:25px;}

.form_a7d72e{
    padding-top:30px;
}

.header_f9f2ca{
    margin-bottom:10px;
    margin-top:10px;
}

.closeButton_c91bad{
    width:3px;
}

.closeIcon_c91bad{
    width:10px;
}
